<section class="text-gray-600 body-font">
    <div class="container p-5 mx-auto">

        <div class="sm:flex sm:justify-between py-8">
            <div class="flex">
                <h1 class="text-2xl py-1">Campus Proximus</h1>
                <div class="m-1 ml-3">
                    <button (click)="toggleEditCampus()" class="p-1 rounded-lg hover:bg-blue-500 hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="justify-self-end h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                        </svg>
                    </button>

                    <button (click)="toggleDeleteCampus()" class="p-1 rounded-lg hover:bg-red-500 hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </button>
                </div>
            </div>
            <button (click)="toggleShowAddSensor()"
                class="bg-transparent sm:justify-end hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                Voeg sensor toe
            </button>

        </div>
        <div class="flex flex-wrap -m-4">
            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>

            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>
            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>
            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>
            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>
            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>
            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>
            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>
            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>
            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>
            <a href="/singleSensor" class="xl:w-1/3 sm:w-1/2 w-full p-4">

                <div id="1color"
                    class="text-white border border-gray-200 p-6 rounded-lg shadow-2xl bg-green-500 hover:bg-opacity-80">
                    <div class="flex justify-between">
                        <h2 id="1naam" class="text-lg font-medium title-font mb-2">Lokaal 1</h2>
                        <div class="flex" (click)="noA($event); false">
                            <div (click)="toggleShowEditSensor()" class="p-1 rounded-lg hover:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="justify-self-end h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                            <div (click)="toggleDeleteConfirmation()" class="p-1 rounded-lg hover:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p class="leading-relaxed text-2xl" id="1">400</p>
                </div>
            </a>
        </div>
    </div>
</section>

<div *ngIf="addSensorIsShown" class="row container-fluid">
    <app-add-co2-sensor class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    </app-add-co2-sensor>
</div>

<app-add-co2-sensor id="addSensorWindow"
    class="hidden absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></app-add-co2-sensor>


<div *ngIf="editSensorIsShown" class="row container-fluid" >
    <app-edit-co2-sensor class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    </app-edit-co2-sensor>
</div>


<div *ngIf="deleteSensorIsShown" class="row container-fluid" >
    <app-delete-co2-sensor class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    </app-delete-co2-sensor>
</div>


<div *ngIf="editCampusIsShown" class="row container-fluid" >
    <app-edit-campus class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    </app-edit-campus>
</div>

<div *ngIf="deleteCampusIsShown" class="row container-fluid">
    <app-delete-campus class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    </app-delete-campus>
</div>

