<div class="mt-5 md:mt-0 md:col-span-2 shadow-2xl">
    <form [formGroup]="newSensor" (ngSubmit)="addSensor()" id="newSensorForm">
        <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
                <div class="grid grid-cols-6 gap-6 mb-5">
                    <div class="col-span-6 sm:col-span-3 form-group">
                        <label for="sensorNaam" class="block text-sm font-medium text-gray-700">
                            Naam
                        </label>
                        <input type="text" formControlName="sensorNaam" id="sensorNaam"
                            class="mt-1 focus:ring-blue-500 focus:blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md form-control">
                            
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="choose_sensor" class="block text-sm font-medium text-gray-700">
                            Kiessensor
                        </label>
                        <select id="choose_sensor" name="choose_sensor" formControlName="choose_sensor"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <option disabled value="">Kies een sensor</option>
                            <option *ngFor="let sensor of sensors">
                                {{sensor.sensor_id}}
                            </option>
                        </select>
                    </div>
                </div>
                <li *ngFor="let error of errors" class="bg-red-100 border border-red-400 text-red-700 px-1 py-1 list-none rounded mb-1" role="alert">
                    <ul class="inline-block">{{error}}</ul>                 
                </li>
            </div>
            <div class="flex justify-end bg-gray-50">
                <div class="px-4 py-3 text-right sm:px-0">
                    <button (click)="close()" class=" inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm
                    font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2
                    focus:ring-offset-2 focus:ring-blue-500">Annuleer</button>
                </div>
                <div class="px-4 py-3 text-right sm:pr-6 sm:pl-3">
                    <button onclick="add()"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Voeg toe
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>