<section class="text-gray-600 body-font">
    <div class="container p-5 mx-auto">

        <div class="flex justify-between flex-wrap py-8">
            <h1 class="text-2xl py-1">Users</h1>
            <div class="flex">
                <button (click)="toggleShowAddUserFromOtherCampus()"
                    class="mr-2 bg-transparent sm:justify-end hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Voeg user toe van andere campus
                </button>
                <button (click)="toggleShowAddUser()"
                    class="bg-transparent sm:justify-end hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Voeg user toe
                </button>
            </div>
        </div>

        <div class="text-gray-900">

            <div class=" flex justify-center rounded-3xl">
                <table class="w-full text-md bg-blue-100 shadow-md mb-4">
                    <tbody>
                        <tr class="border-b bg-blue-500 text-white">
                            <th class="text-left p-3 px-5">Gebruikersnaam</th>
                            <th class="text-left p-3 px-5">Email</th>
                            <th class="text-left p-3 px-5">Wachtwoord</th>
                            <th class="text-left p-3 px-5">Role</th>
                            <th></th>
                        </tr>

                        <tr *ngFor="let user of users" class="border-b hover:bg-orange-100 bg-gray-100">
                            <td class="p-1 px-5"><input type="text" id="{{user.persoon_id}}username"
                                    value="{{user.username}}" class="bg-transparent">
                            </td>
                            <td class="p-3 px-5"><input type="text" id="{{user.persoon_id}}email" value="{{user.email}}"
                                    class="bg-transparent"></td>
                            <td class="p-3 px-5"><input type="password" id="{{user.persoon_id}}password" value=""
                                    class="bg-transparent">
                            </td>
                            <td class="p-3 px-5">
                                <select id="{{user.persoon_id}}role" value="{{user.role}}" class="bg-transparent">
                                    <option value="user">user</option>
                                    <option value="admin">admin</option>
                                </select>
                            </td>
                            <td class="p-3 px-5 flex justify-end">
                                <button (click)="updateUser(user)" type="button"
                                    class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                                    Save
                                </button>
                                <button type="button" (click)="toggleDeleteUser(user)"
                                    class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Delete</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div *ngIf="addUserIshown" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog"
    aria-modal="true">
    <div (click)="toggleShowAddUser()" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"></div>
    <app-add-user class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    </app-add-user>
</div>

<div *ngIf="addUserFromOtherCampusIsShown" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title"
    role="dialog" aria-modal="true">
    <div (click)="toggleShowAddUserFromOtherCampus()" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"></div>
    <app-add-user-from-campus class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    </app-add-user-from-campus>
</div>

<div *ngIf="deleteUserIsShown" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog"
    aria-modal="true">
    <div (click)="toggleDeleteUser(deleteUser)" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"></div>
    <app-delete-user [message]="deleteUser.persoon_id"
        class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    </app-delete-user>
</div>